.filters {
  width: 100%;
  background-color: #D9D9D9;
  margin-top: 30px;
  padding: 15px;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.filters input,
.filters select {
  border-radius: 20px;
  border: 2px solid white;
}

.filters input[name=price-from],
.filters input[name=price-to] {
  width: 50px;
}

.filters input::-webkit-outer-spin-button,
.filters input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filters input[type=number] {
  -moz-appearance: textfield;
}

.standart_btn {
  background-color: aliceblue;
  margin-bottom: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.standart_btn p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

